.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 80%;
  margin: 200px auto;
  & img {
    width: 30%;
  }
  & div {
    padding: 0 50px;
    text-align: center;
    & a{
        text-decoration: none;
        color: $white;
        background-color: $button_background;
        padding: 12px 40px;
    }
  }
}
