@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$background:#f1e8d8;
$button_background:#9e8562;
$white:#fcfeff;

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background;
}
