.footer{
    margin: 150px auto 150px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    & img{
        width: 50%;
        margin: auto;
    }
}