.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5rem;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    & img{
        width: 100%;
    }

}
