.portfolio{
    & .portfolio-title{
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: 70px 0;
    }
    & .portfolio-flex{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:2rem;
        width: 80%;
        align-items: center;
        margin: auto;
    }
    & img{
        width: 100%;
        margin-bottom: 2rem;
    }
}