.quote{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/8.jpg");
    background-position: top;
    background-attachment:fixed;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    & p{
        color: $white;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        width: 50%;
        margin: 50px;
  
    }
}