@media screen and (max-width: 11520px) {
  .about {
    & .scordy1 {
      display: none;
    }
  }
}
@media screen and (max-width: 951px) {
  .hero {
    width: 90%;
  }
  .quote {
    & p {
      width: 80%;
    }
  }
  .about {
    width: 90%;
    & img {
      width: 40%;
    }
  }
  .portfolio {
    & .portfolio-flex {
      width: 90%;
    }
  }
  .reviews {
    & .the-reviews {
      width: 90%;
    }
  }
  .cta {
    & div {
      width: 80%;
    }
  }
  .footer {
    width: 90%;
    & img {
      width: 70%;
    }
  }
}

@media screen and (max-width: 801px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .about{
    flex-direction: column;
    & .scordy2{
        display: none;
    }
    & .scordy3{
        display: block;
        margin-top: 50px;
        width: 100%;
    }
  }
  .reviews{
    & .the-reviews{
        & div{
            display: flex;
            flex-direction: column;
        }
        & .reverse{
            display: flex;
            flex-direction: column-reverse;
        }
    }
  }
}

@media screen and (max-width:751px) {
    .footer{
        grid-template-columns: 1fr;
        & img{
            width: 30%;
        }
    }
    
}
@media screen and (max-width:701px) {
    .portfolio {
        & .portfolio-flex {
            grid-template-columns: 1fr;

        }
      }
}
@media screen and (max-width:501px) {
    .footer{
        & img{
            width: 40%;
        }
    }
    
}
@media screen and (max-width:401px) {
.about{
    & div{
        padding: 0 ;

    }
}
    
}