.reviews{
    & .the-reviews{
        width: 80%;
        margin: auto;
        & div{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap:2rem;
            align-items: center;
            & img{
                width: 100%;
            }
        }
    }
}