@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1e8d8;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  width: 80%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.hero img {
  width: 100%;
}
.hero .hero-text {
  text-align: center;
}
.hero .hero-text .hero-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}