@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 22px;
}

body {
  background-color: #f1e8d8;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav {
  width: 100%;
  height: 55px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  position: fixed;
  z-index: 1000;
}

.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}

.nav-brand, .nav-link {
  text-decoration: none;
  color: black;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 0.8;
  cursor: pointer;
}

.nav-brand {
  font-size: 1.25rem;
}

.nav-link {
  font-size: 1rem;
}

.nav-collapse {
  float: right;
}

.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
}

.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background: black;
  position: relative;
  transition: 0.25s ease-in-out;
}

.toggler span:nth-child(1) {
  top: -7.5px;
}

.toggler span:nth-child(2) {
  top: 0;
}

.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover,
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}

.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}

.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}

.nav.open {
  height: 54vh;
}

nav.scrolled {
  background-color: #f1e8d8;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;
  }
  .nav-link {
    text-align: center;
  }
  .toggler {
    display: block;
  }
}
/*end of navbar*/
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  width: 80%;
  padding: 200px 0;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.hero img {
  width: 100%;
}
.hero .hero-text {
  text-align: center;
}
.hero .hero-text .hero-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.hero .hero-text .hero-normal-text {
  margin: 30px 0 40px 0;
}
.hero .hero-text a {
  text-decoration: none;
  color: #fcfeff;
  background-color: #9e8562;
  padding: 12px 40px;
}

.quote {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/8.jpg");
  background-position: top;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.quote p {
  color: #fcfeff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  width: 50%;
  margin: 50px;
  line-height: 30px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 80%;
  margin: 200px auto;
}
.about img {
  width: 30%;
}
.about .scordy3 {
  display: none;
}
.about div {
  padding: 0 50px;
  text-align: center;
}
.about div .name {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.about div .job {
  font-size: 30px;
  line-height: 30px;
  margin-top: 15px;
}
.about div .brief {
  margin: 50px 0;
}
.about div a {
  text-decoration: none;
  color: #fcfeff;
  background-color: #9e8562;
  padding: 12px 40px;
}

.portfolio {
  margin-bottom: 200px;
}
.portfolio .portfolio-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 70px 0;
}
.portfolio .portfolio-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 80%;
  align-items: center;
  margin: auto;
}
.portfolio img {
  width: 100%;
  margin-bottom: 2rem;
}

.reviews {
  margin-bottom: 200px;
}
.reviews .reviews-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 70px 0;
  line-height: 30px;
}
.reviews .the-reviews {
  width: 80%;
  margin: auto;
}
.reviews .the-reviews div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
}
.reviews .the-reviews div img {
  width: 100%;
}

.cta {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/scody1.jpg");
  background-position: top;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.cta div {
  width: 50%;
  margin: 50px;
}
.cta div p {
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 30px;
  line-height: 30px;
}
.cta div a {
  text-decoration: none;
  color: #fcfeff;
  background-color: #9e8562;
  padding: 12px 40px;
}

.footer {
  margin: 150px auto 150px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.footer img {
  width: 50%;
  margin: auto;
}
.footer .socials p {
  margin-bottom: 30px;
}
.footer .socials a {
  font-size: 30px;
  margin-right: 10px;
  color: #9e8562;
}

@media screen and (max-width: 1120px) {
  .about .scordy1 {
    display: none;
  }
}
@media screen and (max-width: 951px) {
  .hero {
    width: 90%;
  }
  .quote p {
    width: 80%;
  }
  .about {
    width: 90%;
  }
  .about img {
    width: 40%;
  }
  .portfolio .portfolio-flex {
    width: 90%;
  }
  .reviews .the-reviews {
    width: 90%;
  }
  .cta div {
    width: 80%;
  }
  .footer {
    width: 90%;
  }
  .footer img {
    width: 70%;
  }
}
@media screen and (max-width: 801px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
  .about .scordy2 {
    display: none;
  }
  .about .scordy3 {
    display: block;
    margin-top: 50px;
    width: 100%;
  }
  .reviews .the-reviews div {
    display: flex;
    flex-direction: column;
  }
  .reviews .the-reviews .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 751px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer img {
    width: 30%;
  }
}
@media screen and (max-width: 701px) {
  .portfolio .portfolio-flex {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 501px) {
  .footer img {
    width: 40%;
  }
}
@media screen and (max-width: 401px) {
  .about div {
    padding: 0;
  }
  .reviews .the-reviews div img {
    width: 110%;
  }
  .quote p {
    width: 100%;
    margin: 20px;
  }
  .cta div {
    width: 1000%;
  }
  .cta div p {
    margin: 30px 10px;
  }
}